body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  background: lightblue;
  grid-template-rows: 75px 1fr 20px;
}


* {
  box-sizing: border-box;
}


header {
  background-color: darkgray;
  color: white;
  padding: 10px;
  display: grid;
  grid-template-columns: 125px 1fr 50px;
  align-items: center;
}

h1 {
  margin: 0;
}

nav {
  justify-self: center;
}

main {
  overflow-y: auto;
  padding: 8px
}

footer {

  background: steelblue;
  color: aliceblue;
  font-size: 0.8rem;
  display: grid;
  align-items: center;
  padding: 0.5px;
}



